

.productdetails{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(22,22,35);
}

.productdetails img{
    height: 37%;
    width: 20%;
    border-radius: 50%;
    box-shadow: 0 0 10px gray;
}

.productdetails h4{
    color: rgb(220,159,143);
}

.productdetails h3{
    color: rgb(200,77,40);
}

.buttonsContainer{
    display: flex;
    gap: 20px;
}

.buttonsContainer button{
    height: 50px;
    width: 170px;
    font-size: .6rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button-1{
    background-color:rgb(200,77,40);
    color: white;
    transition: .5s;
}

.button-2{
    background-color: rgb(200, 196, 196);
    color: black;
    transition: .5s;

}

.button-1:hover{
    transform: scale(1.1);
}

.button-2:hover{
    transform: scale(1.1);
}

